/** @format */

@import "tailwindcss";

body {
  @supports ((-webkit-appearance: none)) or (-moz-user-select: none) {
    background-color: white;
    color: rgb(243, 244, 246);
  }
}

body::-webkit-scrollbar {
  display: none;
}
